body {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  width: 100%;
  background-color: #111415;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2em;
  width: 90%;
  margin: 8vh auto 8vh auto;
}

.nieckovsky_logo_top {
  display: inline;
  width: 100%;
  height: auto;
}

nav {
  display: grid;
  justify-content: flex-end;
  text-overflow: ellipsis;
  align-items: center;
}

li {
  display: inline;
  margin-left: 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: inherit;
}

footer {
  color: rgba(255, 255, 255, 0.15);
  width: 90%;
  margin: 8vh auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
