/*****************************CONTACT*****************************/

.contact__content {
  line-height: 4vh;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.contact__content-mail {
  text-decoration: none;
  color: inherit;
}
